<div class="flex items-center gap-5 border-b border-gray-300 px-5 py-1 shadow-sm">
  <div class="text-sm text-sky-900">
    <%= link_to 'Evolve', root_path, class: "text-sm py-2 font-bold text-sky-900 uppercase" %>
  </div>
  <div class="text-sm py-2 font-medium text-gray-500">
    |
  </div>
  <div class="relative inline-block text-left">
    <div>
      <button type="button" class="inline-flex justify-center w-full py-2 text-sm font-medium text-sky-900 focus:outline-none" id="finances-menu-button" aria-expanded="false" aria-haspopup="true">
        Finances
        <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>
    <div class="absolute z-10 hidden mt-2 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="finances-menu-button" tabindex="-1" id="finances-menu-dropdown">
      <div class="py-1 whitespace-nowrap" role="none">
        <%= link_to 'Create', new_finances_account_path, class: "text-gray-700 block px-4 py-2 text-sm", role: "menuitem", tabindex: "-1", id: "finances-menu-item-0" %>
        <%= link_to 'Dashboard', finances_dashboard_path, class: "text-gray-700 block px-4 py-2 text-sm", role: "menuitem", tabindex: "-1", id: "finances-menu-item-1" %>
      </div>
    </div>
  </div>
  <div class="relative inline-block text-left">
    <div>
      <button type="button" class="inline-flex justify-center w-full py-2 text-sm font-medium text-sky-900 focus:outline-none" id="fitness-menu-button" aria-expanded="false" aria-haspopup="true">
        Fitness
        <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a 1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>
    <div class="absolute z-10 hidden mt-2 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="fitness-menu-button" tabindex="-1" id="fitness-menu-dropdown">
      <div class="py-1 whitespace-nowrap" role="none">
        <%= link_to 'Dashboard', fitness_dashboard_path, class: "text-gray-700 block px-4 py-2 text-sm", role: "menuitem", tabindex: "-1", id: "fitness-menu-item-0" %>
        <%= link_to 'Exercises', fitness_exercises_path, class: "text-gray-700 block px-4 py-2 text-sm", role: "menuitem", tabindex: "-1", id: "fitness-menu-item-1" %>
        <%= link_to 'Routines', fitness_routines_path, class: "text-gray-700 block px-4 py-2 text-sm", role: "menuitem", tabindex: "-1", id: "fitness-menu-item-2" %>
      </div>
    </div>
  </div>
  <div class="relative inline-block text-left">
    <div>
      <button type="button" class="inline-flex justify-center w-full py-2 text-sm font-medium text-sky-900 focus:outline-none" id="goals-menu-button" aria-expanded="false" aria-haspopup="true">
        Objectives
        <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>
    <div class="absolute z-10 hidden mt-2 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="goals-menu-button" tabindex="-1" id="goals-menu-dropdown">
      <div class="py-1 whitespace-nowrap" role="none">
        <%= link_to 'Create', new_objectives_goal_path, class: "text-gray-700 block px-4 py-2 text-sm", role: "menuitem", tabindex: "-1", id: "goals-menu-item-0" %>
        <%= link_to 'Dashboard', objectives_dashboard_path, class: "text-gray-700 block px-4 py-2 text-sm", role: "menuitem", tabindex: "-1", id: "goals-menu-item-1" %>
      </div>
    </div>
  </div>
  <% if current_user&.operator? %>
  <div class="flex justify-end items-center gap-5 w-full">
    <div class="text-sm text-sky-900">
      <%= link_to 'Profile', user_profile_path, class: "text-sm py-2 font-bold text-sky-900 uppercase" %>
    </div>
    <div class="text-sm py-2 font-medium text-gray-500">
      |
    </div>
    <div class="text-sm text-sky-900">
      <%= link_to 'Operator', operator_dashboard_path, class: "text-sm py-2 font-bold text-sky-900 uppercase" %>
    </div>
  </div>
  <% end %>
</div>
