<div class="flex flex-col lg:flex-row">
	<div class="flex flex-col gap-5 lg:w-1/3 p-5">
		<div class="flex flex-col tracking-tight leading-tight">
			<div class="text-2xl font-bold uppercase text-sky-900">
				Goals Dashboard
			</div>
			<div class="text-gray-500 text-sm">
				/goals /dashboard
			</div>
		</div>
		<div class="flex flex-col divide-y divide-gray-200">
			<div class="py-4">
				<div class="font-bold text-sky-900 uppercase">
					Goals
				</div>
				<div class="flex items-center gap-1 text-gray-500">
					<%= link_to "create, ", new_goals_goal_path %>
					<%= link_to "explore. ", goals_goals_path %>
				</div>
			</div>
			<div class="py-4">
				<div class="font-bold text-sky-900 uppercase">
					Tasks
				</div>
				<div class="flex items-center gap-1 text-gray-500">
					<%= link_to "create, ", new_goals_task_path %>
					<%= link_to "explore. ", goals_tasks_path %>
				</div>
			</div>
			<div class="py-4">
				<div class="font-bold text-sky-900 uppercase">
					Achievements
				</div>
				<div class="flex items-center gap-1 text-gray-500">
					<%= link_to "explore. ", fitness_routines_path %>
				</div>
			</div>
		</div>
	</div>
	<div class="flex flex-col w-full bg-sky-900 text-gray-200 p-5 gap-5 h-screen">
		<% current_user.goals.each do |goal| %>

		<% end %>
	</div>
</div>
