<%# app/views/operator/fitness/muscle_groups/show.html.erb %>
<main class="flex-1 p-6 bg-background-light dark:bg-background-dark text-text-light dark:text-text-dark">
	<div class="flex flex-col lg:flex-row gap-4 lg:gap-6">
		<div class="flex flex-col gap-6 lg:w-1/3 p-6 bg-background-card dark:bg-background-card-dark rounded-lg shadow-md">
			<!-- Header Section -->
			<div class="flex justify-between items-center">
				<%= link_to operator_fitness_muscle_groups_path, class: "flex gap-1 items-center font-semibold text-text-light dark:text-text-dark hover:opacity-80 whitespace-nowrap w-min" do %>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-5">
						<path stroke-linecap="round" stroke-linejoin="round" d="m11.25 9-3 3m0 0 3 3m-3-3h7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
					</svg>
					Back
				<% end %>
			</div>
			<div class="flex flex-col tracking-tight leading-tight">
				<div class="text-4xl font-bold uppercase">
					<%= @muscle_group.name %>
				</div>
			</div>

			<!-- Details Section -->
			<div class="flex flex-col gap-4">
				<div class="flex flex-col gap-1">
					<div class="text-sm font-medium text-text-sub dark:text-text-sub-dark">
						Name:
					</div>
					<div class="text-sm">
						<%= @muscle_group.name %>
					</div>
				</div>

				<!-- Related Exercises Section -->
				<div class="flex flex-col gap-1">
					<div class="text-sm font-medium text-text-sub dark:text-text-sub-dark">
						Related Exercises:
					</div>
					<div class="text-sm">
						<% if @muscle_group.exercises.any? %>
							<ul class="list-disc pl-5 space-y-1">
								<% @muscle_group.exercises.each do |exercise| %>
									<li>
										<%= link_to exercise.name, operator_fitness_exercise_path(exercise), class: "text-primary hover:text-primary-dark" %>
									</li>
								<% end %>
							</ul>
						<% else %>
							No exercises associated with this muscle group.
						<% end %>
					</div>
				</div>
			</div>

			<div class="flex justify-end gap-2">
				<%= link_to edit_operator_fitness_muscle_group_path(@muscle_group), class: "inline-flex w-min items-center px-4 py-2 bg-primary-500 hover:bg-primary-600 text-white text-sm font-medium rounded-md transition" do %>
					Edit
				<% end %>
			</div>
		</div>

		<!-- Right Section -->
		<div class="flex flex-col w-full">
			<!-- Add any additional content here -->
		</div>
	</div>
</main>