<div class="flex flex-col lg:flex-row">
	<div class="flex flex-col gap-5 lg:w-1/3 p-5">
		<div class="flex flex-col tracking-tight leading-tight">
			<div class="text-2xl font-bold uppercase text-sky-900">
				Fitness Dashboard
			</div>
			<div class="text-gray-500 text-sm">
				/fitness /dashboard
			</div>
		</div>
		<div class="flex flex-col divide-y divide-gray-200">
			<div class="py-4">
				<div class="font-bold text-sky-900 uppercase">
					Routines
				</div>
				<div class="flex items-center gap-1 text-gray-500">
					<%= link_to "create, ", new_fitness_routine_path %>
					<%= link_to "explore. ", fitness_routines_path %>
				</div>
			</div>
			<div class="py-4">
				<div class="font-bold text-sky-900 uppercase">
					Exercises
				</div>
				<div class="flex items-center gap-1 text-gray-500">
					<%= link_to "create, ", new_fitness_exercise_path %>
					<%= link_to "explore. ", fitness_exercises_path %>
				</div>
			</div>
			<div class="py-4">
				<div class="font-bold text-sky-900 uppercase">
					Log book
				</div>
				<div class="flex items-center gap-1 text-gray-500">
					<%= link_to "create, ", new_fitness_log_path %>
					<%= link_to "explore. ", fitness_logs_path %>
				</div>
			</div>
		</div>
	</div>
	<div class="flex flex-col w-full bg-sky-900 text-white p-5 h-screen gap-5">
		<div class="text-3xl font-medium">
			Welcome back, <%= current_user.first_name.capitalize %>
		</div>
		<div class="flex flex-col gap-2 tracking-tight leading-tight bg-sky-800 pl-5 pr-24 py-3 w-min whitespace-nowrap rounded-md">
			<div class="font-semibold text-xl">
				Current Weight
			</div>
			<div>
				<div class="font-bold text-3xl text-sky-500">
					<%= current_user.current_weight.to_i %> <%= current_user.weight_unit %>
				</div>
				<div class="font-medium text-gray-400">
					<%= current_user.weight_change_this_month %>
				</div>
			</div>
		</div>
		<div class="bg-sky-800 shadow-md rounded-lg p-4 max-w-xs">
			<%= form_for(current_user, url: registration_path(current_user), method: :put, html: { class: "space-y-2" }) do |f| %>
			<div>
				<%= f.label :current_weight, "Log Your Weight", class: "font-semibold text-xl" %>
				<div class="mt-1 relative rounded-md shadow-sm">
					<%= f.number_field :current_weight, 
					step: :any, 
					value: current_user.current_weight, 
					class: "focus:ring-0 block w-full pr-12 sm:text-sm border-gray-300 text-gray-700 rounded-md",
						placeholder: "0.0" %>
						<div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
							<span class="text-gray-500 sm:text-sm"><%= current_user.weight_unit.capitalize %></span>
						</div>
					</div>
				</div>
				<div class="flex justify-end">
					<%= f.submit "Log Weight", 
					class: "inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 hover:cursor-pointer" %>
				</div>
				<% end %>
			</div>
		</div>
	</div>