<div class="flex flex-col lg:flex-row">
	<div class="flex flex-col gap-5 lg:w-1/3 p-5">
		<div class="flex flex-col tracking-tight leading-tight">
			<div class="text-2xl font-bold uppercase text-sky-900">
				Fitness Dashboard
			</div>
			<div class="text-gray-500 text-sm">
				/fitness /dashboard
			</div>
		</div>
		<div class="flex flex-col divide-y divide-gray-200">
			<div class="py-4">
				<div class="font-bold text-sky-900 uppercase">
					Routines
				</div>
				<div class="flex items-center gap-1 text-gray-500">
					<%= link_to "create, ", new_fitness_routine_path %>
					<%= link_to "explore. ", fitness_routines_path %>
				</div>
			</div>
			<div class="py-4">
				<div class="font-bold text-sky-900 uppercase">
					Exercises
				</div>
				<div class="flex items-center gap-1 text-gray-500">
					<%= link_to "create, ", new_fitness_exercise_path %>
					<%= link_to "explore. ", fitness_exercises_path %>
				</div>
			</div>
			<div class="py-4">
				<div class="font-bold text-sky-900 uppercase">
					Log book
				</div>
				<div class="flex items-center gap-1 text-gray-500">
					<%= link_to "create, ", new_fitness_log_path %>
					<%= link_to "explore. ", fitness_logs_path %>
				</div>
			</div>
		</div>
	</div>
	<div class="flex flex-col w-full bg-sky-900 text-white p-5 h-screen">
		<div class="flex flex-col gap-4 p-5 bg-gray-50 rounded-lg shadow-xl w-1/2">
			<div class="text-2xl font-bold text-sky-900">
				Health Snapshot
			</div>
			<div class="flex items-center justify-evenly gap-4">
				<div class="flex flex-col p-3 bg-gray-200 rounded-md shadow-lg border border-gray-100 hover:border-sky-500 w-full">
					<div class="text-lg font-bold text-gray-700">
						Height:
					</div>
					<div class="text-gray-500 text-xl">
						<%= current_user.height.to_i %><%= current_user.measurement_unit %>
					</div>
				</div>
				<div class="flex flex-col p-3 bg-gray-200 rounded-md shadow-lg border border-gray-100 hover:border-sky-500 w-full">
					<div class="text-lg font-bold text-gray-700">
						Current Weight:
					</div>
					<div class="text-gray-500 text-xl">
						<%= current_user.current_weight.to_i %><%= current_user.weight_unit %>
					</div>
				</div>
				<div class="flex flex-col p-3 bg-gray-200 rounded-md shadow-lg border border-gray-100 hover:border-sky-500 w-full">
					<div class="text-lg font-bold text-gray-700">
						Goal Weight:
					</div>
					<div class="text-gray-500 text-xl">
						<%= current_user.goal_weight.to_i %><%= current_user.weight_unit %>
					</div>
				</div>
			</div>
			<div class="flex flex-col gap-2 p-3 bg-gray-200 rounded-md shadow-lg border border-gray-100 hover:border-sky-500">
				<div class="flex flex-col gap-2">
					<div class="flex items-center justify-between gap-5">
						<div class="text-lg font-bold text-gray-700">
							Body Mass Index <span class="text-base font-medium">(BMI)</span>
						</div>
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 stroke-gray-700">
							<path stroke-linecap="round" stroke-linejoin="round" d="M12 3v17.25m0 0c-1.472 0-2.882.265-4.185.75M12 20.25c1.472 0 2.882.265 4.185.75M18.75 4.97A48.416 48.416 0 0 0 12 4.5c-2.291 0-4.545.16-6.75.47m13.5 0c1.01.143 2.01.317 3 .52m-3-.52 2.62 10.726c.122.499-.106 1.028-.589 1.202a5.988 5.988 0 0 1-2.031.352 5.988 5.988 0 0 1-2.031-.352c-.483-.174-.711-.703-.59-1.202L18.75 4.971Zm-16.5.52c.99-.203 1.99-.377 3-.52m0 0 2.62 10.726c.122.499-.106 1.028-.589 1.202a5.989 5.989 0 0 1-2.031.352 5.989 5.989 0 0 1-2.031-.352c-.483-.174-.711-.703-.59-1.202L5.25 4.971Z" />
						</svg>
					</div>
					<div class="flex items-center justify-between gap-1">
						<div class="text-gray-500 text-xl">
							<%= current_user.bmi %>
						</div>
						<div class="text-xs badge bg-green-600">
							<%= current_user.bmi_status %>
						</div>
					</div>
				</div>
			</div>
			<div class="flex flex-col gap-2 p-3 bg-gray-200 rounded-md shadow-lg border border-gray-100 hover:border-sky-500">
				<div class="flex flex-col gap-2">
					<div class="flex items-center justify-between gap-5">
						<div class="text-lg font-bold text-gray-700">
							Basal Metabolic Rate <span class="text-base font-medium">(BMR)</span>
						</div>
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 stroke-gray-700">
							<path stroke-linecap="round" stroke-linejoin="round" d="M15.362 5.214A8.252 8.252 0 0 1 12 21 8.25 8.25 0 0 1 6.038 7.047 8.287 8.287 0 0 0 9 9.601a8.983 8.983 0 0 1 3.361-6.867 8.21 8.21 0 0 0 3 2.48Z" />
							<path stroke-linecap="round" stroke-linejoin="round" d="M12 18a3.75 3.75 0 0 0 .495-7.468 5.99 5.99 0 0 0-1.925 3.547 5.975 5.975 0 0 1-2.133-1.001A3.75 3.75 0 0 0 12 18Z" />
						</svg>
					</div>
					<div class="flex items-center justify-between gap-1">
						<div class="text-gray-500 text-xl">
							<%= current_user.bmr.to_i %>
						</div>
						<div class="text-xs badge bg-green-600">
							<%= current_user.bmr_status %>
						</div>
					</div>
				</div>
			</div>
			<div class="flex flex-col gap-2 p-3 bg-gray-200 rounded-md shadow-lg border border-gray-100 hover:border-sky-500">
				<div class="flex flex-col gap-2">
					<div class="flex items-center justify-between gap-5">
						<div class="text-lg font-bold text-gray-700">
							Daily Caloric Needs <span class="text-base font-medium">(<%= current_user.daily_caloric_needs.to_i %> cal*)</span>
						</div>
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 stroke-gray-700">
							<path stroke-linecap="round" stroke-linejoin="round" d="M12 3v17.25m0 0c-1.472 0-2.882.265-4.185.75M12 20.25c1.472 0 2.882.265 4.185.75M18.75 4.97A48.416 48.416 0 0 0 12 4.5c-2.291 0-4.545.16-6.75.47m13.5 0c1.01.143 2.01.317 3 .52m-3-.52 2.62 10.726c.122.499-.106 1.028-.589 1.202a5.988 5.988 0 0 1-2.031.352 5.988 5.988 0 0 1-2.031-.352c-.483-.174-.711-.703-.59-1.202L18.75 4.971Zm-16.5.52c.99-.203 1.99-.377 3-.52m0 0 2.62 10.726c.122.499-.106 1.028-.589 1.202a5.989 5.989 0 0 1-2.031.352 5.989 5.989 0 0 1-2.031-.352c-.483-.174-.711-.703-.59-1.202L5.25 4.971Z" />
						</svg>
					</div>
					<div class="flex items-center justify-between gap-1">
						<div class="text-gray-500 text-xl">
							<%= current_user.current_calorie_intake.to_i %> / <%= current_user.target_calorie_intake.to_i %>
						</div>
						<div class="text-xs badge bg-red-600">
							<%= current_user.calorie_intake_status[:daily_status] %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<% if FitnessLogEntry.entries_this_week(current_user).present? %>
		<div class="flex flex-col p-2 bg-sky-800 w-96 border-sky-950 border">
			<div  class="px-1 text-xl font-bold uppercase text-white">
				Exercises Per Day
			</div>
			<div>
				<%= bar_chart FitnessLogEntry.entries_this_week(current_user).joins(:fitness_log_exercises).group_by_day_of_week(:date, format: "%a").count('fitness_log_exercises.id'),
              colors: ["#1E3A8A"],  # Color for the bars
              library: {
              	scales: {
              		y: {
              			ticks: { color: "#FFFFFF", beginAtZero: true },
              			grid: { color: "rgba(255, 255, 255, 0.1)" }
              		},
              		x: {
              			ticks: { color: "#FFFFFF" },
              			grid: { color: "rgba(255, 255, 255, 0.1)" }
              		}
              	},
              	plugins: {
              		legend: {
                          labels: { color: "#FFFFFF" }  # Sets the legend text to white
                        }
                      },
                      elements: {
                      	bar: { borderColor: "#FFFFFF", borderWidth: 2 }
                      },
                      animation: { duration: 500 }
                    } %>



                  </div>
                </div>
                <% end %>
              </div>
            </div>