<div class="flex p-5">
	<div class="flex flex-col gap-4 rounded-md p-5 border border-gray-300">
		<div class="flex justify-between pb-2 gap-8 border-b border-gray-300">
			<div class="text-lg font-bold uppercase text-sky-900">
				Create fitness log
			</div>
		</div>
		<%= form_for([:fitness, @log], url: fitness_logs_path) do |form| %>
		<div class="flex flex-col gap-4">
			<div class="flex items-center gap-4">
				<div class="flex flex-col">
					<%= form.label :date, "Date", class: "text-sm font-medium text-gray-700" %>
					<%= form.date_field :date, value: @log.date ? @log.date.strftime("%Y-%m-%d") : Time.current.to_date, class: "w-full rounded-md border-gray-300 shadow-sm focus:border-sky-500 focus:ring-sky-500 sm:text-sm text-gray-500" %>
				</div>
				<div class="flex flex-col">
					<%= form.label :time, "Time", class: "text-sm font-medium text-gray-700" %>
					<%= form.time_field :time, step: 60, value: @log.time ? @log.time.strftime("%H:%M") : Time.current.strftime("%H:%M"), class: "w-full rounded-md border-gray-300 shadow-sm focus:border-sky-500 focus:ring-sky-500 sm:text-sm text-gray-500" %>
				</div>
			</div>
			<div class="flex flex-col">
				<%= form.label :notes, "Notes", class: "text-sm font-medium text-gray-700" %>
				<%= form.text_area :notes, rows: 4, class: "w-full rounded-md border-gray-300 shadow-sm focus:border-sky-500 focus:ring-sky-500 sm:text-sm text-gray-500 resize-y" %>
			</div>
			<div id="log-form-container"></div>
			<div class="flex justify-end">
				<%= form.submit "Create", class: "inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-sky-500 hover:bg-sky-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500" %>
			</div>
		</div>
		<% end %>
	</div>
</div>




