<main class="flex-1 p-6 bg-background-light dark:bg-background-dark text-text-light dark:text-text-dark">
	<div class="flex flex-col lg:flex-row gap-4 lg:gap-6">
		<div class="flex flex-col gap-6 lg:w-1/3 p-6 bg-background-card dark:bg-background-card-dark rounded-lg shadow-md">
			<!-- Header Section -->
			<div class="flex justify-between items-center">
				<%= link_to :back, class: "flex gap-1 items-center font-semibold text-text-light dark:text-text-dark hover:opacity-80 whitespace-nowrap w-min" do %>
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-5">
					<path stroke-linecap="round" stroke-linejoin="round" d="m11.25 9-3 3m0 0 3 3m-3-3h7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
				</svg>
				Back
				<% end %>
			</div>
			<div class="flex flex-col tracking-tight leading-tight">
				<div class="text-4xl font-bold uppercase">
					Edit Transaction
				</div>
			</div>
			<%= form_for([:finances, @transaction]) do |form| %>
			<div class="flex flex-col gap-4">
				<div class="flex items-center gap-2">
					<div class="flex flex-col gap-1 w-full">
						<%= form.label :amount, class: "text-sm font-medium text-text-sub dark:text-text-sub-dark" %>
						<%= form.number_field :amount, class: "rounded-md border bg-background-input-light dark:bg-background-input-dark text-text-light dark:text-text-dark border-border-light dark:border-border-dark font-medium text-sm focus:ring-0 w-full" %>
					</div>
					<div class="flex flex-col gap-1 w-full">
						<%= form.label :date, class: "text-sm font-medium text-text-sub dark:text-text-sub-dark" %>
						<%= form.date_field :date, value: Time.current.to_date.strftime("%Y-%m-%d"), class: "rounded-md border bg-background-input-light dark:bg-background-input-dark text-text-light dark:text-text-dark border-border-light dark:border-border-dark font-medium text-sm focus:ring-0 w-full" %>
					</div>
				</div>
				<div class="flex flex-col gap-1">
					<div class="text-sm font-medium text-text-sub dark:text-text-sub-dark">
						<%= form.label :account_id, "Select Account" %>
					</div>
					<div class="text-sm">
						<%= form.collection_select :account_id, current_user.accounts, :id, :account_name, {}, {class: "rounded-md border bg-background-input-light dark:bg-background-input-dark text-text-light dark:text-text-dark border-border-light dark:border-border-dark font-medium text-sm focus:ring-0 w-full"} %>				
					</div>
				</div>
				<div class="flex items-center gap-2">
					<div class="flex flex-col gap-1 w-full">
						<div class="text-sm font-medium text-text-sub dark:text-text-sub-dark">
							<%= form.label :transaction_type %>
						</div>
						<div class="text-sm">
							<%= form.text_field :transaction_type, class: "rounded-md border bg-background-input-light dark:bg-background-input-dark text-text-light dark:text-text-dark border-border-light dark:border-border-dark font-medium text-sm focus:ring-0 w-full" %>
						</div>
					</div>
					<div class="flex flex-col gap-1 w-full">
						<div class="text-sm font-medium text-text-sub dark:text-text-sub-dark">
							<%= form.label :category_id, "Select Category" %>
						</div>
						<div class="text-sm">
							<%= form.collection_select :category_id, Category.all, :id, :name, {}, {class: "rounded-md border bg-background-input-light dark:bg-background-input-dark text-text-light dark:text-text-dark border-border-light dark:border-border-dark font-medium text-sm focus:ring-0 w-full"} %>				
						</div>
					</div>
				</div>
				<div class="flex flex-col gap-1">
					<div class="text-sm font-medium text-text-sub dark:text-text-sub-dark">
						<%= form.label :description %>
					</div>
					<div>
						<%= form.text_area :description, rows: 4, class: "rounded-md border bg-background-input-light dark:bg-background-input-dark text-text-light dark:text-text-dark border-border-light dark:border-border-dark font-medium text-sm focus:ring-0 w-full" %>
					</div>
				</div>
				<div class="flex justify-end">
					<%= form.submit "Update", class: "inline-flex items-center px-4 py-2 bg-primary-500 hover:bg-primary-600 text-white text-sm font-medium rounded-md transition" %>
				</div>
			</div>
			<% end %>
		</div>
		<!-- Board Section -->
		<div class="flex flex-col w-full">
		</div>
	</div>
</main>