<main class="flex-1 p-6 bg-background-light dark:bg-background-dark text-text-light dark:text-text-dark">
	<div class="flex flex-col lg:flex-row gap-4 lg:gap-6">
		<div class="flex flex-col gap-4 lg:gap-6 lg:w-1/3">
			<div class="flex flex-col gap-6 p-6 bg-background-card dark:bg-background-card-dark rounded-lg shadow-md">
				<div class="flex justify-between items-center">
					<%= link_to :back, class: "flex gap-1 items-center font-semibold text-text-light dark:text-text-dark hover:opacity-80 whitespace-nowrap w-min" do %>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-5">
						<path stroke-linecap="round" stroke-linejoin="round" d="m11.25 9-3 3m0 0 3 3m-3-3h7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
					</svg>
					Back
					<% end %>
				</div>
				<div class="flex flex-col tracking-tight leading-tight">
					<div class="text-3xl font-bold uppercase">
						Transaction index
					</div>
				</div>
				<%= form_with url: import_finances_transactions_path, method: :post, local: true, multipart: true do |f| %>
				<div class="flex flex-col lg:flex-row gap-4">

					<!-- CSV Upload Form -->
					<div class="w-full">
						<div class="flex flex-col gap-4">

							<!-- Error and Success Messages -->
							<% if flash[:alert] %>
							<div class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800" role="alert">
								<%= flash[:alert] %>
							</div>
							<% elsif flash[:notice] %>
							<div class="p-4 mb-4 text-sm text-green-700 bg-green-100 rounded-lg dark:bg-green-200 dark:text-green-800" role="alert">
								<%= flash[:notice] %>
							</div>
							<% end %>

							<!-- Account Selection -->
							<div class="flex flex-col gap-1">
								<%= f.label :account_id, "Select Account", class: "text-sm font-medium text-gray-700 dark:text-gray-300" %>
								<%= f.collection_select :account_id, current_user.accounts, :id, :account_name, { prompt: "Choose an account" }, { class: "min-w-52 w-full rounded-md border-gray-300 dark:border-gray-600 shadow-sm focus:border-sky-500 focus:ring-sky-500 sm:text-sm text-gray-500 dark:bg-gray-700 dark:text-gray-300" } %>
							</div>

							<!-- File Upload -->
							<div class="flex flex-col gap-1">
								<%= f.label :file, "Upload CSV", class: "text-sm font-medium text-gray-700 dark:text-gray-300" %>
								<div class="relative">
									<input id="file-upload" name="file" type="file" class="hidden">
									<label for="file-upload" class="cursor-pointer inline-block rounded-md border border-gray-300 dark:border-gray-600 shadow-sm py-2 px-4 bg-white dark:bg-gray-800 text-gray-500 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">
										Choose File
									</label>
									<span id="file-name" class="ml-3 text-gray-500 dark:text-gray-300"></span>
								</div>
							</div>

							<!-- Submit Button -->
							<div class="flex justify-end">
								<%= f.submit "Upload CSV", class: "inline-flex items-center px-4 py-2 bg-primary-500 hover:bg-primary-600 text-white text-sm font-medium rounded-md transition" %>
							</div>
						</div>
					</div>
				</div>
				<% end %>
			</div>
			<div class="flex flex-col gap-6 p-6 bg-background-card dark:bg-background-card-dark rounded-lg shadow-md">
				<div class="flex flex-col tracking-tight leading-tight">
					<div class="text-3xl font-bold uppercase">
						Statistics
					</div>
				</div>
				<div class="grid grid-cols-1 md:grid-cols-3 gap-2">
					<div class="bg-background-input-light dark:bg-background-input-dark flex flex-col gap-1 items-start rounded-lg px-4 py-2">
						<div class="text-lg font-semibold text-text-light dark:text-text-dark">
							Total Sum
						</div>
						<div class="text-2xl font-bold text-text-light dark:text-text-dark">
							<%= number_to_currency(current_user.transactions.sum(:amount)) %>
						</div>
					</div>
					<%= button_to 'Recategorize All', recategorize_all_finances_transactions_path, method: :post, data: { confirm: 'Are you sure you want to recategorize all your transactions?' }, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
				</div>
			</div>
		</div>
		<div class="w-full lg:w-2/3">
			<h2 class="text-2xl font-semibold mb-6 text-gray-800 dark:text-gray-200">Your Transactions</h2>
			<div class="overflow-x-auto">
				<table class="min-w-full bg-white dark:bg-gray-800 rounded-lg shadow-md">
					<thead>
						<tr>
							<th class="px-6 py-4 border-b border-gray-300 dark:border-gray-600 text-left text-sm font-medium text-gray-700 dark:text-gray-300 uppercase tracking-wider">Date</th>
							<th class="px-6 py-4 border-b border-gray-300 dark:border-gray-600 text-left text-sm font-medium text-gray-700 dark:text-gray-300 uppercase tracking-wider">Description</th>
							<th class="px-6 py-4 border-b border-gray-300 dark:border-gray-600 text-left text-sm font-medium text-gray-700 dark:text-gray-300 uppercase tracking-wider">Type</th>
							<th class="px-6 py-4 border-b border-gray-300 dark:border-gray-600 text-left text-sm font-medium text-gray-700 dark:text-gray-300 uppercase tracking-wider">Account</th>
							<th class="px-6 py-4 border-b border-gray-300 dark:border-gray-600 text-right text-sm font-medium text-gray-700 dark:text-gray-300 uppercase tracking-wider">Amount</th>
							<th class="px-6 py-4 border-b border-gray-300 dark:border-gray-600 text-right text-sm font-medium text-gray-700 dark:text-gray-300 uppercase tracking-wider">Actions</th>
						</tr>
					</thead>
					<tbody>
						<% @transactions.each do |transaction| %>
						<tr class="transition-colors duration-200 hover:bg-gray-50 dark:hover:bg-gray-700">
							<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-100"><%= transaction.date.strftime("%d/%m/%Y") %></td>
							<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-100"><%= transaction.description %></td>
							<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600 dark:text-gray-300"><%= transaction.transaction_type %></td>
							<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600 dark:text-gray-300"><%= transaction.account.account_name %></td>
							<td class="px-6 py-4 whitespace-nowrap text-sm text-right font-medium text-gray-900 dark:text-gray-100"><%= number_to_currency(transaction.amount) %></td>
							<td class="px-6 py-4 whitespace-nowrap text-sm text-right font-medium text-gray-900 dark:text-gray-100 underline"><%= link_to "View",finances_transaction_path(transaction.id) %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</main>

	<!-- Script to Display Selected File Name -->
	<script>
		document.getElementById('file-upload').addEventListener('change', function() {
			const fileName = this.files[0]?.name || '';
			document.getElementById('file-name').textContent = fileName;
		});
	</script>

	<!-- Transactions List -->

</div>
