<main class="flex-1 p-6 bg-background-light dark:bg-background-dark text-text-light dark:text-text-dark">
	<div class="flex flex-col lg:flex-row gap-4 lg:gap-6">
		<div class="flex flex-col gap-4 lg:gap-6 lg:w-1/3">
			<div class="flex flex-col gap-6 p-6 bg-background-card-light dark:bg-background-card-dark rounded-lg shadow-md">
				<div class="flex justify-between items-center">
					<%= link_to :back, class: "flex gap-1 items-center font-semibold text-text-light dark:text-text-dark hover:opacity-80 whitespace-nowrap w-min" do %>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-5">
						<path stroke-linecap="round" stroke-linejoin="round" d="m11.25 9-3 3m0 0 3 3m-3-3h7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
					</svg>
					Back
					<% end %>
				</div>
				<div class="flex flex-col tracking-tight leading-tight">
					<div class="text-3xl font-bold uppercase">
						All Habits
					</div>
				</div>
			</div>
		</div>
		<div class="w-full lg:w-2/3">
			<h2 class="text-2xl font-semibold mb-6 text-text-light dark:text-text-dark">Your Habits</h2>
			<div class="overflow-x-auto">
				<table class="min-w-full bg-background-light dark:bg-gray-800 rounded-lg shadow-md">
					<thead>
						<tr>
							<th class="px-6 py-4 border-b border-gray-300 dark:border-gray-600 text-left text-sm font-medium text-gray-700 dark:text-gray-300 uppercase tracking-wider">Title</th>
							<th class="px-6 py-4 border-b border-gray-300 dark:border-gray-600 text-left text-sm font-medium text-gray-700 dark:text-gray-300 uppercase tracking-wider">
							</th>
							<th class="px-6 py-4 border-b border-gray-300 dark:border-gray-600 text-left text-sm font-medium text-gray-700 dark:text-gray-300 uppercase tracking-wider">Actions</th>
						</tr>
					</thead>
					<tbody>
						<% @habits.each do |habit| %>
						<tr class="transition-colors duration-200 hover:bg-background-card-light dark:hover:bg-background-card-dark">
							<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-100 w-full">
								<div class="flex flex-col">
									<div>
										<%= habit.name.capitalize %>
									</div>
									<div class="leading-tight text-xs">
										<%= habit.description&.capitalize %>
									</div>
								</div>
							</td>
							<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600 dark:text-gray-300"></td>
							<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600 dark:text-gray-300">
								<div class="flex items-center gap-4">
									<%= link_to 'show', objectives_habit_path(habit), class: "underline text-sm" %>
									<%= link_to 'edit', edit_objectives_habit_path(habit), class: "underline text-sm" %>
								</div>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</main>
</div>


