<!DOCTYPE html>
<html>
<head>
  <title>Evolution</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  <%= javascript_include_tag 'react_application', 'data-turbo-track': 'reload' %>
</head>
<body class="bg-gray-50">
  <% if request.path == '/' %>
  <%= render 'shared/nav' %>
  <% elsif request.path.start_with?('/operator') %>
  <%= render 'shared/operator_nav' %>
  <% else %>
  <%= render 'shared/frontend_nav' %>
  <% end %>
  <main>
    <%= yield %>
  </main>
</body>
</html>
