<div class="flex flex-col lg:flex-row">
	<div class="flex flex-col gap-5 lg:w-1/3 p-5">
		<%= link_to "Back", :back, class: "text-gray-500 underline whitespace-nowrap w-min" %>
		<div class="flex flex-col tracking-tight leading-tight">
			<div class="text-2xl font-bold uppercase text-sky-900">
				Showing Income
			</div>
			<div class="text-gray-500 text-sm">
				/finances /incomes / <%= @income.id %>
			</div>
		</div>
		<div class="flex flex-col gap-2">
			<div>
				<div class="text-gray-700 font-medium text-sm">
					Source:
				</div>
				<div class="text-gray-500 bg-white border-gray-300 border rounded-md px-4 py-2 text-sm">
					<%= @income.source %>
				</div>
			</div>
			<div>
				<div class="text-gray-700 font-medium text-sm">
					Amount:
				</div>
				<div class="text-gray-500 bg-white border-gray-300 border rounded-md px-4 py-2 text-sm">
					$<%= @income.amount %> 
				</div>
			</div>
			<div>
				<div class="text-gray-700 font-medium text-sm">
					Last update:
				</div>
				<div class="text-gray-500 bg-white border-gray-300 border rounded-md px-4 py-2 text-sm">
					<%= @income.updated_at.strftime("%-d %B %Y") %> 
				</div>
			</div>
			<div class="flex justify-end">
				<%= link_to "Edit", edit_finances_income_path(@income), class: "sky-btn" %>
			</div>
		</div>
	</div>
	<div class="flex flex-col w-full bg-sky-900 text-stone-200 p-5 h-screen">
	</div>
</div>